<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Data to HTML with Twig</title>
    <style>
    input {
        text-align: center;
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    #data-container{
        text-align: center;
        width: 40%;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
    </style>
</head>
<body>

    <div id="data-container">
        <p><span>ID:</span> {{ ID }}</p>
        <p><span>Kids Drive:</span> {{ KIDSDRIV }}</p>
        <p><span>Age:</span> {{ AGE }}</p>
        <p><span>Income:</span> {{ INCOME }}</p>
        <p><span>Married:</span> {{ MSTATUS }}</p>
        <p><span>Gender:</span> {{ GENDER }}</p>
        <p><span>Education:</span> {{ EDUCATION }}</p>
        <p><span>Occupation:</span> {{ OCCUPATION }}</p>
        <p><span>Car Type:</span> {{ CAR_TYPE }}</p>
        <p><span>Red Car:</span> {{ RED_CAR }}</p>
        <p><span>Car Age:</span> {{ CAR_AGE }}</p>
        <p><span>Claim Flag:</span> {{ CLAIM_FLAG }}</p>
        <p><span>Claim Amount:</span> {{ CLM_AMT }}</p>
        <p><span>Claim Frequency:</span> {{ CLM_FREQ }}</p>
        <p><span>Old Claim:</span> {{ OLDCLAIM }}</p>
    </div>
</script>
</body>
</html>
